Makefile.in
*.o
core.*
.libs/*
.deps/*
.libs
.deps
*.lo
.*.sw*
*.orig
*.rej
*~
configure
config.h*
*-test
*.la
.gitignore
config.log
build-tools
config.status
libtool
autom4te.cache
Makefile
aclocal.m4
*.tar.bz2
*.patch
stamp-*
*.rpm
plymouth
plymouth-generate-initrd
plymouth-populate-initrd
plymouth-set-default-theme
plymouth-log-viewer
plymouthd
*.pc
tags
*.bck
*.string
*.plymouth
